body {
    background-color: #293f50;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    color: #888;
    font: 300 16;
    display: block;
  }
  
  #whole {
    height: 60vh;
  }
  #one {
    border-top: 4px solid #648880;
    width: 250px;
  }
  .first h1 {
    font-weight: lighter;
    color: white;
    margin-bottom: -20px;
    margin-left: 400px;
  }
  .first p {
    margin-left: 65em;
    margin-top: -50px;
    color: #538780;
    font: inherit;
  }
  .first nav {
    margin-left: 53em;
    word-spacing: 5px;
    color: white;
  }
  .fourth {
    display: flex;
    height: 100px;
  }
  .second {
    padding-top: 20px;
    background-color: rgb(170, 214, 180);
    color: #648880;
    text-align: center;
    height: 30vh;
    margin-bottom: 0%;
  }
  #secondspeker {
    font-size: 36px;
    line-height: 44px;
  }
  #speaker {
    font-size: 20px;
    width: 800px;
    text-align: center;
    margin-left: 350px;
  }
  #whole2 {
    background-color: white;
    color: black;
    margin-top: 0%;
  }
  a {
    text-decoration: none;
    color: white;
  }
  #last {
    padding-left: 300px;
    padding-top: 50px;
    color: white;
  }
  #style {
    padding-left: 400px;
    padding-top: 50px;
    color: #538780;
  }
  .grid, .col-1-3, .col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.container, .grid {
    margin: 0 auto;
    width: 960px;
}
.venue-theatre {
    margin-bottom: 66px;
}


.col-1-3, .col-2-3 {
    display: inline-block;
    vertical-align: top;
}
.col-1-3 {
    width: 33.33%;
}

.venue-map {
    height: 264px;
    width: 500px;
}
.venue-hotel {
    margin-bottom: 22px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
    color: #648880
}
h1, h2, h3, h4 {
    color: #648880;
}
h1, h2,h3, h4, h5, p {
    margin-bottom: 22px;
}
p{
    color: black;
}