.outercircle{
    border: 1px solid blue;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
}

.innercircle{
    border: 1px solid blue;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px;
    position: absolute;
}